* {
  padding: 0;
  margin: 0; }

body {
  font-size: 16px;
  font-family: Lato, Arial, sans-serif;
  font-weight: 300;
  color: #363636; }

a {
  text-decoration: none;
  color: Lato, Arial, sans-serif; }

h1, h2, h3 {
  font-family: Playfair Display, Arial, sans-serif;
  text-transform: capitalize; }

p {
  font-family: Lato, Arial, sans-serif; }

ul, ol {
  text-decoration: none;
  list-style-type: none; }
